<li class="comment">
    <div class="avatar-sm">
        <img src="/images/avatars/avt.jpg" alt="">
    </div>
    <div class="comment-content">
        <div class="comment-user">
            <span>{{this.username}}</span>
        </div>
        <div class="comment-text">
            {{this.content}}
        </div>
    </div>
    <div class="comment-time">{{this.date}}</div>
    <div class="comment-operation">
        <ion-icon name="ellipsis-vertical"></ion-icon>
    </div>
</li>