<li class="home-notifications-item">
    <a href="/nofify/1">
        <div class="notification-department">
            Phong Dai Hoc
            <div class="notification-time">21/2/2021</div>
        </div>
        <div class="notification-title">
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum
        </div>
        <div class="notification-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eum minus maiores provident deserunt consequuntur assumenda labore nemo exercitationem. Porro?
        </div>
    </a>
</li>